Brlapi==0.6.1
Cython==0.20.1post0
Fabric==1.8.0
GitPython==0.3.2.RC1
GnuPGInterface==0.3.2
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.18
MySQL-python==1.2.3
Nautilus-scripts-manager==1.7
PAM==0.4.2
Pillow==2.3.0
PyBluez==0.18
PyOpenGL==3.0.2
SecretStorage==2.0.0
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
UniConvertor==1.1.4
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
arandr==0.1.7.1
argparse==1.2.1
async==0.6.1
bzr==2.7.0dev1
ccsm==0.9.11.3
chardet==2.0.1
clint==0.3.1
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
configglue==1.1.2
configobj==4.7.2
cssselect==0.9.1
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
docopt==0.6.2
duplicity==0.6.23
ecdsa==0.10
ez-setup==0.9
flake8==2.1.0
fuse-python==0.2.1
gbp==0.6.9
gdrivefs==0.7.2
gitdb==0.5.4
google-api-python-client==1.1
gyp==0.1
html5lib==0.999
httplib2==0.8
ipython==1.2.1
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lens-contacts==0.0.2.0
llfuse==0.40
lockfile==0.8
louis==2.5.3
lxml==3.3.3
matplotlib==1.3.1
mccabe==0.2.1
mercurial==2.8.2
netifaces==0.8
nose==1.3.1
numpy==1.8.2
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7
paramiko==1.12.0
pep8==1.4.6
pexpect==3.1
pip-tools==0.3.1
piston-mini-client==0.7.5
protobuf==2.5.0
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pyenchant==1.6.5
pyflakes==0.8.1
pygame==1.9.1release
pyglet==1.1.4
pygobject==3.12.0
pygpgme==0.3
pyinotify==0.9.4
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-distutils-extra==2.38
python-ldap==2.4.10
python-libtorrent==0.16.13
pytz==2012c
pyxattr==0.5.1
pyxdg==0.25
pyzmq==14.0.1
quickly-lens-templates==0.0.3
reportlab==3.0
requests==2.2.1
scapy==2.2.0
scipy==0.13.3
scope-contacts-google==0.0.2.6
scope-youtube==0.0.4.6
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.5.2
smmap==0.8.2
software-center-aptd-plugins==0.0.0
stevedore==0.14.1
system-service==0.1.6
thrift==0.9.0
tornado==3.1.1
ubuntu-tweak==0.7.3
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==13.10
unity-lens-photos==1.0
unity-lens-wikipedia==0.1
unity-singlet==0.2.2
urllib3==1.7.1
vboxapi==1.0
verlib==0.1
virtkey==0.63.0
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wadllib==1.3.2
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xkit==0.0.0
youtube-dl==2014.02.17
zope.interface==4.0.5
