{% extends "base.html" %}


{% block title_content %}
    Hackathon 2015
{% endblock %}

{% block inner_content_below %}
 <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Happy, happy, happy..</h1>
            <a href="/testws" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span>Happy meter</a>
          </div>
      </div><!--/row-->

{% endblock %}