

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        </head>
</head>

<body>
<h3 align="center">Happyness Status for Team X</h3>
<div ng-app="">

<div ng-controller="customersController">


</div>


<div ng-controller="happynessStatusController">
{#     {% verbatim %}#}
{#    {{ verdier.sad_number }}#}
{#     {% endverbatim %}#}

<div align="center"> <canvas id="myChart" width="600" height="600"></canvas></div>

    <script>
// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
//var ctx = $("#myChart").get(0).getContext("2d");
// For a pie chart
var data = [
    {
        value: 40,
        color:"#f04331",
        highlight: "#d65126",
        label: "Sad"
    },
    {
        value: 50,
        color: "#fae157",
        highlight: "#ffe513",
        label: "Flat"
    },
    {
        value: 4,
        color: "#6e6540",
        highlight: "#bda956",
        label: "Good"
    },
{
        value: 8,
        color: "#6dc066",
        highlight: "#006400",
        label: "Happy"
    }
]

var myPieChart = new Chart(ctx).Pie(data);

        function customersController($scope,$http) {
    $http.get("/happyness_registrations/?format=json")
    .success(
            function(response) {
                $scope.names = response;});
}



function happynessStatusController($scope,$http) {
    $http.get("/happyness_status/?format=json")
    .success(function(response) {
                $scope.verdier = response;
                myPieChart.segments[0].value = $scope.verdier.sad_number;
                myPieChart.segments[1].value = $scope.verdier.flat_number;
                myPieChart.segments[2].value = $scope.verdier.good_number;
                myPieChart.segments[3].value = $scope.verdier.happy_number;
                myPieChart.update();
            });
}

function init(){
    document.getElementById('refreshBtn').onclick=function(){myPieChart.render();};
}
window.onload=init;

</script>
    <button id="refreshBtn">Refresh</button>

</div>
</div>


</body>
</html>